@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Plus Jakarta Sans",sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  letter-spacing: 2px;
  color: #4475f2;
  font-weight: 800
}
.title:not(:last-child) {
  margin-bottom: 20px
}
.subtitle {
  font-weight: 800;
  font-family: sans-serif;
  text-transform: capitalize
}
.blue {
  color: #4475f2
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(71,74,87,.05)
}
.header__container {
  display: flex;
  align-items: center
}
.header__logo {
  flex: 0 0 80px;
  transition: all .3s ease 0s
}
.header__logo img {
  max-width: 100%
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}
.menu__link {
  color: #9a9ea6;
  transition: all .3s ease 0s
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 25px
}
.footer__item {
  text-align: center
}
.footer__title {
  font-weight: 700
}
.footer__link {
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  height: 93px;
  align-items: center
}
.footer__link-slogan {
  font-weight: 500;
  height: 93px;
  display: flex;
  align-items: center;
  transition: -webkit-text-decoration .3s ease 0s;
  transition: text-decoration .3s ease 0s;
  transition: text-decoration .3s ease 0s,-webkit-text-decoration .3s ease 0s
}
.footer__copy {
  background-color: #4475f2;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 50px 0
}
.social-footer__link {
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s
}
.hero {
  position: relative
}
.hero__container {
  display: flex
}
.hero__container::after,
.hero__container::before {
  content: "";
  position: absolute;
  background-color: #4475f2;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25);
  height: 150%;
  width: 100vw;
  bottom: 0
}
.hero__container::before {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  left: calc(50% + 30px);
  border-radius: 50px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg)
}
.hero__container::after {
  content: "";
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: skewX(32deg);
  transform: skewX(32deg);
  border-radius: 0 50px;
  left: 40%
}
.hero__content {
  flex: 0 1 50%
}
.hero__images {
  flex: 0 1 50%;
  z-index: 2
}
.content-hero {
  display: grid;
  align-content: start;
  justify-items: start;
  gap: 30px;
  z-index: 2
}
.content-hero__title {
  font-weight: 800;
  color: #181e4b;
  line-height: 1.1710526316;
  letter-spacing: -4px
}
.content-hero__title span {
  text-decoration: underline
}
.content-hero__text {
  line-height: 187.5%
}
.content-hero__text p:not(:last-child) {
  margin-bottom: 10px
}
.content-hero__button {
  box-shadow: 0 30px 60px 0 rgba(68,117,242,.25);
  border-radius: 10px;
  background-color: #4475f2;
  color: #fff;
  padding: 18px 54px;
  font-weight: 700;
  line-height: 156.25%;
  transition: all .3s ease 0s;
  position: relative;
  top: 0
}
.images-hero {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr)
}
.images-hero__image {
  max-width: 100%;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.5);
  border-radius: 10px
}
.images-hero__item--01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: 10px
}
.images-hero__item--03 {
  grid-row: span 2;
  align-self: center;
  justify-self: end;
  padding-bottom: 60px
}
.images-hero__item--04 {
  align-self: end;
  justify-self: end
}
.features__items {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap
}
.features__item {
  flex: 0 1 280px;
  display: grid;
  gap: 10px;
  justify-items: center;
  text-align: center
}
.item-features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #4475f2;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25);
  height: 102px;
  width: 102px
}
.item-features__title {
  font-weight: 700
}
.item-features__text {
  line-height: 187.5%
}
.services__items {
  display: grid
}
.services__item {
  display: flex;
  flex-wrap: wrap;
  gap: 15px
}
.item-services__content {
  flex: 1 1 250px
}
.item-services__title {
  font-weight: 500;
  line-height: 125%
}
.item-services__text {
  line-height: 187.5%
}
.item-services__text p:not(:last-child) {
  margin-bottom: 15px
}
.item-services__picture {
  max-width: 100%;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25);
  border-radius: 10px
}
.reviews__items {
  display: flex;
  flex-wrap: wrap
}
.reviews__item {
  flex: 1 1 280px;
  border: 1px solid #dedede;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 2.7672564983px 2.2138051987px 0 rgba(0,0,0,.02),0 6.6501021385px 5.3200817108px 0 rgba(0,0,0,.03),0 12.5215520859px 10.017241478px 0 rgba(0,0,0,.04),0 22.336309433px 17.8690471649px 0 rgba(0,0,0,.04),0 41.7776107788px 33.422088623px 0 rgba(0,0,0,.05),0 100px 80px 0 rgba(0,0,0,.07)
}
.item-reviews {
  font-weight: 500;
  line-height: 187.5%;
  letter-spacing: .2px
}
.item-reviews>* {
  margin-bottom: 15px
}
.item-reviews>* :last-child {
  margin-bottom: 0
}
.item-reviews__avatar {
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  transition: all .3s ease 0s
}
.item-reviews__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-reviews__text {
  flex-grow: 1;
  color: #5e6282;
  margin-bottom: 25px
}
.item-reviews__text p:not(:last-child) {
  margin-bottom: 10px
}
.item-reviews__link {
  color: #23a6f0;
  transition: all .3s ease 0s
}
.item-reviews__position {
  color: #181e4b
}
.location__map {
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25)
}
.location__map iframe {
  border-radius: 10px;
  width: 100%;
  height: 405px
}
@media (min-width:61.99875em) {
  .services__item {
    align-items: flex-start
  }
  .services__item:nth-child(odd) .item-services__body {
    margin: 0 0 0 auto
  }
  .services__item:nth-child(odd) {
    flex-direction: row-reverse
  }
  .item-services__body {
    max-width: 420px
  }
  .item-services__image {
    flex: 1 1 250px
  }
}
@media (min-width:76.875em) {
  .title {
    font-size: 1.125rem
  }
  .subtitle {
    font-size: 3rem
  }
  .subtitle {
    line-height: 4.0625rem
  }
  .title-blok--margin:not(:last-child) {
    margin-bottom: 5.625rem
  }
  .header {
    padding-top: 4.8125rem
  }
  .header__container {
    gap: 7.8125rem
  }
  .menu__list {
    gap: 2.5rem
  }
  .menu__link {
    font-size: .875rem
  }
  .footer {
    padding-top: 6.25rem
  }
  .footer__body {
    padding-bottom: 5.625rem
  }
  .footer__container {
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem
  }
  .footer__title {
    font-size: 1.5rem
  }
  .footer__title {
    margin-bottom: 1.5625rem
  }
  .footer__link-slogan {
    font-size: 1.25rem
  }
  .hero {
    padding-top: 3.875rem
  }
  .hero {
    padding-bottom: 2.5rem
  }
  .content-hero {
    padding-right: 1.25rem
  }
  .content-hero__title {
    font-size: 4.75rem
  }
  .images-hero {
    gap: 1.6875rem
  }
  .features {
    padding-top: 10.625rem
  }
  .features {
    padding-bottom: 6.25rem
  }
  .item-features__title {
    font-size: 1.5rem
  }
  .services {
    padding-top: 10.625rem
  }
  .services {
    padding-bottom: 6.25rem
  }
  .services__items {
    gap: 8.75rem
  }
  .item-services__title {
    font-size: 2rem
  }
  .item-services__title:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .reviews {
    padding-top: 3.125rem
  }
  .reviews {
    padding-bottom: 6.25rem
  }
  .reviews__items {
    gap: 3.125rem
  }
  .location {
    padding-top: 6.25rem
  }
  .location {
    padding-bottom: 6.25rem
  }
}
@media (max-width:740px)and (max-width:20em) {
  .content-hero__button {
    padding-left: 5.75rem
  }
  .content-hero__button {
    padding-right: 5.75rem
  }
}
@media (max-width:739.98px) {
  .hero__container {
    flex-direction: column
  }
  .hero__content {
    padding-bottom: 20px
  }
  .content-hero__button {
    padding: 18px 210px
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1rem
  }
  .subtitle {
    font-size: 1.75rem
  }
  .subtitle {
    line-height: 1.875rem
  }
  .title-blok--margin:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .header {
    padding-top: 2.5rem
  }
  .header__container {
    gap: 1.875rem
  }
  .menu__list {
    gap: .625rem
  }
  .menu__link {
    font-size: 1.125rem
  }
  .footer {
    padding-top: 1.875rem
  }
  .footer__body {
    padding-bottom: 1.25rem
  }
  .footer__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .footer__title {
    font-size: 1.125rem
  }
  .footer__title {
    margin-bottom: .3125rem
  }
  .footer__link-slogan {
    font-size: 1rem
  }
  .hero {
    padding-top: 1.875rem
  }
  .hero {
    padding-bottom: 1.875rem
  }
  .content-hero {
    padding-right: .625rem
  }
  .content-hero__title {
    font-size: 2.375rem
  }
  .images-hero {
    gap: .625rem
  }
  .features {
    padding-top: 1.875rem
  }
  .features {
    padding-bottom: 1.875rem
  }
  .item-features__title {
    font-size: 1.25rem
  }
  .services {
    padding-top: 1.875rem
  }
  .services {
    padding-bottom: 1.875rem
  }
  .services__items {
    gap: 1.875rem
  }
  .item-services__title {
    font-size: 1.375rem
  }
  .item-services__title:not(:last-child) {
    margin-bottom: .9375rem
  }
  .reviews {
    padding-top: 1.875rem
  }
  .reviews {
    padding-bottom: 1.875rem
  }
  .reviews__items {
    gap: 1.25rem
  }
  .location {
    padding-top: 1.875rem
  }
  .location {
    padding-bottom: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .images-hero__item--01 {
    align-self: center
  }
  .features__items {
    justify-content: center
  }
  .features__item {
    flex-grow: 1
  }
  .services__item {
    flex-direction: column;
    align-items: center
  }
  .item-services__title {
    text-align: center
  }
}
@media (max-width:47.99875em) {
  .subtitle {
    text-align: center
  }
  .hero__container::after {
    left: 10%
  }
}
@media (min-width:20em)and (max-width:76.875em) {
  .title {
    font-size: clamp(1rem ,.956043956rem + .2197802198vw ,1.125rem)
  }
  .subtitle {
    font-size: clamp(1.75rem ,1.3104395604rem + 2.1978021978vw ,3rem)
  }
  .subtitle {
    line-height: clamp(1.875rem ,1.1057692308rem + 3.8461538462vw ,4.0625rem)
  }
  .title-blok--margin:not(:last-child) {
    margin-bottom: clamp(2.5rem ,1.4010989011rem + 5.4945054945vw ,5.625rem)
  }
  .header {
    padding-top: clamp(2.5rem ,1.6868131868rem + 4.0659340659vw ,4.8125rem)
  }
  .header__container {
    gap: clamp(1.875rem ,-.2129120879rem + 10.4395604396vw ,7.8125rem)
  }
  .menu__list {
    gap: clamp(.625rem ,-.0343406593rem + 3.2967032967vw ,2.5rem)
  }
  .menu__link {
    font-size: clamp(.875rem ,1.2129120879rem + -.4395604396vw ,1.125rem)
  }
  .footer {
    padding-top: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
  }
  .footer__body {
    padding-bottom: clamp(1.25rem ,-.2884615385rem + 7.6923076923vw ,5.625rem)
  }
  .footer__container {
    -webkit-column-gap: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem);
    -moz-column-gap: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem);
    column-gap: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
  }
  .footer__title {
    font-size: clamp(1.125rem ,.9931318681rem + .6593406593vw ,1.5rem)
  }
  .footer__title {
    margin-bottom: clamp(.3125rem ,-.1270604396rem + 2.1978021978vw ,1.5625rem)
  }
  .footer__link-slogan {
    font-size: clamp(1rem ,.9120879121rem + .4395604396vw ,1.25rem)
  }
  .hero {
    padding-top: clamp(1.875rem ,1.1717032967rem + 3.5164835165vw ,3.875rem)
  }
  .hero {
    padding-bottom: clamp(1.875rem ,1.6552197802rem + 1.0989010989vw ,2.5rem)
  }
  .content-hero {
    padding-right: clamp(.625rem ,.4052197802rem + 1.0989010989vw ,1.25rem)
  }
  .content-hero__title {
    font-size: clamp(2.375rem ,1.5398351648rem + 4.1758241758vw ,4.75rem)
  }
  .images-hero {
    gap: clamp(.625rem ,.2513736264rem + 1.8681318681vw ,1.6875rem)
  }
  .features {
    padding-top: clamp(1.875rem ,-1.2019230769rem + 15.3846153846vw ,10.625rem)
  }
  .features {
    padding-bottom: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
  }
  .item-features__title {
    font-size: clamp(1.25rem ,1.1620879121rem + .4395604396vw ,1.5rem)
  }
  .services {
    padding-top: clamp(1.875rem ,-1.2019230769rem + 15.3846153846vw ,10.625rem)
  }
  .services {
    padding-bottom: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
  }
  .services__items {
    gap: clamp(1.875rem ,-.5425824176rem + 12.0879120879vw ,8.75rem)
  }
  .item-services__title {
    font-size: clamp(1.375rem ,1.1552197802rem + 1.0989010989vw ,2rem)
  }
  .item-services__title:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.3880494505rem + 2.7472527473vw ,2.5rem)
  }
  .reviews {
    padding-top: clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)
  }
  .reviews {
    padding-bottom: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
  }
  .reviews__items {
    gap: clamp(1.25rem ,.5906593407rem + 3.2967032967vw ,3.125rem)
  }
  .location {
    padding-top: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
  }
  .location {
    padding-bottom: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
  }
}
@media (max-width:740px)and (min-width:76.875em) {
  .content-hero__button {
    padding-left: 13.125rem
  }
  .content-hero__button {
    padding-right: 13.125rem
  }
}
@media (max-width:740px)and (min-width:20em)and (max-width:76.875em) {
  .content-hero__button {
    padding-left: clamp(5.75rem ,3.1565934066rem + 12.967032967vw ,13.125rem)
  }
  .content-hero__button {
    padding-right: clamp(5.75rem ,3.1565934066rem + 12.967032967vw ,13.125rem)
  }
}
@media (any-hover:hover) {
  .header__logo img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .menu__link:hover {
    color: #4737ff
  }
  .footer__link:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
  }
  .footer__link-slogan:hover {
    text-decoration: underline
  }
  .social-footer__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .content-hero__title span:hover {
    text-decoration: none
  }
  .content-hero__button:hover {
    background-color: #4737ff;
    top: 3px;
    box-shadow: 0 30px 60px 0 rgba(68,117,242,.5)
  }
  .item-reviews__avatar:hover {
    -webkit-transform: scale(.95);
    transform: scale(.95);
    box-shadow: 0 30px 60px 0 rgba(71,74,87,.25)
  }
  .item-reviews__link:hover {
    color: #4475f2;
    text-decoration: underline
  }
}